<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .gradient-custom {
background: #f093fb;

background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

    </style>


</head>
<body>


<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100" style="height: 625px;">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5"></h3>

              <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Done" style="background-color:#72a7fc; ">
             </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>